/* LobbyScreen.css */

/* Style the container */
div {
    text-align: center;
    width: 80%;
    max-width: 400px; /* Decreased max-width for shorter textboxes */
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #5DADE2, #ffffff); /* Lighter blue gradient */
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Style the form */
  form {
    margin-top: 20px;
  }
  
  /* Style the input fields */
  input {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  
  /* Style the labels */
  label {
    font-size: 18px;
    font-weight: bold;
    color: #3782b4; /* Lighter blue color */
  }
  
  /* Style the button */
  button {
    background: linear-gradient(to bottom, #5DADE2, #3498db); /* Lighter blue gradient */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;
    font-size: 16px;
  }
  
  button:hover {
    background: linear-gradient(to bottom, #3498db, #2980b9);
  }
  
  /* Add more styles as needed */
  